<navig [hidden]="hideupdate"></navig>
<section id="view">
	<table [hidden]="hideupdate">
		<thead>
			<tr>
				<th>Employee Name</th>
				<th>Mobile Number</th>
				<th>Employee Id</th>
				<th>Email Id</th>
				<th>Designation</th>
				<th>Location</th>
				<th>Address</th>
				<th>Experience</th>
				<th>Skills</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor = 'let dat of data'>
				<td>{{dat.empname}}</td>
				<td>{{dat.phone}}</td>
				<td>{{dat.empid}}</td>
				<td>{{dat.email}}</td>
				<td>{{dat.designation}}</td>
				<td>{{dat.location}}</td>
				<td>{{dat.address}}</td>
				<td>{{dat.experience}}</td>
				<td><span [hidden]="!key.value" *ngFor="let key of dat.skill | keys">{{key.key}} &nbsp;</span></td>
				<span> </span>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="button" (click)="update(this.dat)">update</button>
				<span> </span>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="button" (click)="delete(this.dat)">delete</button>
			</tr>
		</tbody>
	</table>
	<section id="update" [hidden]="updateform">
		<form [formGroup]="updateForm" novalidate>
 	 <div class="form-group">
		<label for="empid" >Employee Id :</label>
		<input class="mdl-textfield__input form-control" type="number" formControlName="empid" readonly>
		<span class="error" *ngIf="!updateForm.controls.empid.pristine && updateForm.controls.empid.errors">Invalid/Empty Field</span>
	</div>
	<div class="form-group">
		<label for="empname" >Employee Name :</label>
		<input class="mdl-textfield__input form-control" type="text" formControlName="empname" value="name">
		<span class="error" *ngIf="!updateForm.controls.empname.pristine && updateForm.controls.empname.errors">Invalid/Empty Field</span>
	</div>
	
	<div class="form-group">
		<label for="phone" >Mobile Number :</label>
		<input class="mdl-textfield__input form-control" type="number" formControlName="phone">
		<span class="error" *ngIf="!updateForm.controls.phone.pristine && updateForm.controls.phone.errors">Invalid/Empty Field</span>
	</div>
	<div class="form-group">
		<label for="email" >Mail Id :</label>
		<input class="mdl-textfield__input form-control" formControlName="email" type="text">
		<span class="error" *ngIf="!updateForm.controls.email.pristine && updateForm.controls.email.errors">Invalid/Empty Field</span>
	</div>
	<div class="form-group">
		<label for="designation">Designation :</label>
		<select formControlName="designation">
			<option>PAT</option>
			<option>PA</option>
			<option>Associate</option>
		</select>
		<span class="error" *ngIf="!updateForm.controls.designation.pristine && updateForm.controls.designation.errors">Invalid/Empty Field</span>
	</div>
	<div class="form-group">
		<label for="location">Location :</label>
		<input type="radio" value="on" formControlName="location" id="on"><label for="on" class="lab">On Shore</label>
		<input type="radio" value="off" formControlName="location" id="off"><label for="off" class="lab">Off Shore</label>
		<span class="error" *ngIf="!updateForm.controls.location.pristine && updateForm.controls.location.errors">Invalid/Empty Field</span>
	</div>
	<div class="form-group">
		<label for="address">Address :</label>
		<input class="mdl-textfield__input form-control" formControlName="address" type="text" rows="8" cols="30">
		<span class="error" *ngIf="!updateForm.controls.address.pristine && updateForm.controls.address.errors">Invalid/Empty Field</span>
	</div>
	<div class="form-group">
		<label for="experience">Experience :</label>
		<input class="mdl-textfield__input form-control" formControlName="experience" type="number">
		<span class="error" *ngIf="!updateForm.controls.experience.pristine && updateForm.controls.experience.errors">Invalid/Empty Field</span>
	</div>
	<div class="form-group" formGroupName="skill">
		<label for="skill">Skills :</label>
		<label *ngFor='let skills of skillList' class="lab">
		<input type="checkbox" formControlName="{{skills}}">{{skills}}
		</label>
		<span class="error" *ngIf="!updateForm.controls.experience.pristine && updateForm.controls.experience.errors">Unchecked</span>
		
	</div>
	<button [disabled]="updateForm.invalid" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent btn btn-default" type="button" (click)=updateval(updateForm.value)>Submit</button>
 </form>
	</section>
</section>
